<header id="masthead" class="site-header" role="banner">
<nav class="navbar navbar-default" role="navigation">
<div class="container">
    <div class="row">
        <div class="site-navigation-inner col-sm-12">
            <div class="navbar-header">
                <button type="button" class="btn navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="logo">
                    <a href="http://wwsun.me"><img src="img/site/logo.png" height="35" /></a>
                </div>
                <!-- end of #logo -->
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="menu-primary-navigation" class="nav navbar-nav">
                    <li><a title="Homepage" href="/">HOME</a></li>
                    <li><a title="Profile" href="/about.html">PROFILE</a></li>
                    <li><a title="Projects" href="/project.html">PROJECTS</a></li>
					<li><a title="Activities" href="/activity.html">ACTIVITIES</a></li>
					<li><a title="All posts" href="/list.html">POSTS</a></li>
                    <li><a title="Photos in lofter" href="http://wwsun.lofter.com/" target="_blank">PHOTO</a></li>
					<li class="dropdown">
                        <a title="Events" href="" data-toggle="dropdown" class="dropdown-toggle">MORE
                            <span class="caret"></span>
						</a>
                        <ul role="menu" class=" dropdown-menu">
                            <li><a title="technical skills" href="/skill.html">Skills</a></li>
                            <li><a title="online courses" href="/courses.html">Courses</a></li>
							<li role="presentation" class="divider"></li>
							<li><a title="My recent resume for hunting a job" href="/resume.html" target="_blank">Resume</a></li>
                        </ul>
                    </li>                                     		    
                </ul>
            </div>
        </div>
    </div>
</div>
</nav>
<!-- .site-navigation -->
</header>
