<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ "/assets/css/timeline-exp.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="http//fonts.useso.com/css?family=Roboto%3A100%2C400%2C300%2C700&#038">
    
    <link rel="stylesheet" href="{{ "assets/css/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "assets/css/custom.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "assets/css/contest.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "assets/css/wpp.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "assets/css/proj-layout.css" | prepend: site.baseurl }}">
    
    
    <script src="{{ "/assets/js/swiftype.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/js/jquery.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/js/crayon.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/js/modernizr.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
