<header id="masthead" class="site-header" role="banner">
<nav class="navbar navbar-default" role="navigation">
<div class="container">
    <div class="row">
        <div class="site-navigation-inner col-sm-12">
            <div class="navbar-header">
                <button type="button" class="btn navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="logo">
                    <a href="http://wwsun.me"><img src="/img/site/logo.png" height="35" /></a>
                </div>
                <!-- end of #logo -->
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="menu-primary-navigation" class="nav navbar-nav">
                    <li><a title="Themes" href="/">HOME</a></li>
                    <li><a title="Themes" href="/about.html">PROFILE</a></li>
                    <li class="dropdown">
                        <a title="Categories" href="" data-toggle="dropdown" class="dropdown-toggle">EVENTS
                            <span class="caret"></span></a>
                        <ul role="menu" class=" dropdown-menu">
                            <li><a title="All Categories" href="/themes">Resume</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a title="Business &amp; Corporate" href="/project.html">Projects</a></li>
                            <li> <a title="Admin &amp; Dashboard" href="/activity.html">Activities</a></li>
                            <li><a title="Portfolio" href="/skill.html">Skills</a></li>
                            <li><a title="Blog &amp; Magazine" href="/courses.html">MOOCs</a></li>
                        </ul>
                    </li>
                    <li><a title="Resources" href="/list.html">POSTS</a></li>
                    <li><a title="Sell" href="http://wwsun.lofter.com/" target="_blank">PHOTO</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</nav>
<!-- .site-navigation -->
</header>
