body {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 300;
	color: #454545;
}

.centered {
    text-align: center;
}
/*********************************************************
	STYLE RESETS
*********************************************************/
p {
	margin: 0 0 30px;
}
a {
	color: #008ed6;
	-webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}
a:hover, a:focus {
    color: #005885;
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
	color: #333;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top: 30px;
}
a:focus {
    outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}
.form-control {
	border-radius: 3px;
}
.form-control:focus {
	border-color: #999999;
	outline: 0 none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: 0 none;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #f5f5f5;
    cursor: text;
    opacity: 1;
}
label.error {
	color: #f25454;
	display: block;
	font-size: 14px;
	font-weight: 400;
	margin-top: -15px;
}
.btn {
	border-radius: 3px;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border: 0 none;
	padding: 12px 20px;
	-webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}
.btn-lg {
	font-size: 16px;
	padding: 15px 30px;
}
.btn-white.btn-lg {
	padding: 14px 28px;
}
.btn-white {
	border: 1px solid rgba(255, 255, 255, 0.45);
    color: #ffffff;
}
.btn-primary {
	background: #3498db;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #2D85BF;
}
.btn-success {
	background: #00BF6F;
    color: #ffffff;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
	background: #00A55B;
}
.btn-teal {
	background: #1abc9c;
    color: #ffffff;
}
.btn-danger {
	background: #f25454;
	color: #fff;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
	background: #d64a4a;
}
.btn-warning {
	background: #ea8825;
	color: #ffffff;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
	background: #ce7721;
}
.alert {
	border-radius: 3px;
}

/*********************************************************
	CUSTOM STYLES
*********************************************************/
#logo a {
	display: block;
	height: auto;
	margin-right: 30px;
	padding: 12px 0 11px;
}
#logo img {
	display: block;
	height: 32px;
	width: auto;
}
.navbar > .container .navbar-brand {
	font-family: 'Roboto';
}
.entry-content {
	font-family: 'Roboto';
}
.btn-primary.read-more {
	float: right;
}
.navbar.navbar-default {
	background-color: #fff;
	font-family: 'Roboto';
	border-bottom: 1px solid #dadada;
	font-weight: 500;
	margin-bottom: 0;
}
.nav.navbar-nav {
	float: left;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .active > a {
	color: #555;
	font-size: 13px;
	line-height: 20px;
	padding: 20px 14px;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: #f5f5f5;
	color: #008ed6;
}
.dropdown-menu {
	color: #888888;
	font-size: 14px;
	font-weight: 300;
}
.dropdown-menu > li > a {
	color: #888;
	padding: 3px 20px;
	font-weight: 300;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #888;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	background-color: #eee;
	color: #888;
}
.site-content [class*="navigation"] a {
	background-color: #3498db;
	border: 0 none;
	border-radius: 3px;
	color: #ffffff;
	display: block;
	font-size: 12px;
	font-weight: 700;
	margin: 0 0 1.5em;
	overflow: hidden;
	padding: 8px 14px;
}
.site-content [class*="navigation"] a:hover {
	background: #2d85bf;
	text-decoration: none;
}
.entry-title a:hover {
	color: #005885;
}
.scroll-to-top:hover {
	background: #005885;
}
.cp_embed_iframe {
	border: 5px solid #e5e5e5;
}
.input-group .form-control.search-query {
	height: 42px;
	padding: 5px 10px;
}
#secondary .widget {
	color: #888;
}
#secondary .widget a {
	color: #008ed6;
}
#secondary .widget a:hover, #secondary .widget a:focus {
  color: #005885;
  text-decoration: none;
}
#secondary .widget > h3 {
	color: #555;
	font-size: 16px;
}
#secondary .widget .post-content a {
	color: #3498db;
	font-size: 14px;
}
#secondary .widget .post-content a:hover {
	color: #005885;
}
#secondary .widget .social-icons a:hover, #secondary .widget .social-icons a:focus {
	color: #fff;
}
.single-view, .blog-item-wrap {
	margin-bottom: 0;
}
.post-inner-content {
	background-color: #ffffff;
	border: 0 none;
	padding: 30px 15px 10px;
}
#secondary .widget ul li.theme_item {
	border-bottom: 0 none;
	margin-bottom: 30px;
	padding-bottom: 0;
}
#secondary .widget ul li.theme_item .theme_img {
	border: 1px solid #dadada;
	border-radius: 3px;
	display: block;
	padding: 3px;
}
#secondary .widget ul li.theme_item .theme_img:hover,
#secondary .widget ul li.theme_item .theme_img:focus {
	border: 1px solid #999;
}
#secondary .widget ul li.theme_item a.theme_title {
	color: #555555;
	display: block;
	margin-top: 5px;
	text-align: center;
}
#secondary .widget ul li.theme_item a.theme_title:hover,
#secondary .widget ul li.theme_item a.theme_title:focus {
	color: #005885;
}
#secondary .widget .more_themes {
	text-align: center;
}
#secondary .widget .more_themes a {
	color: #fff;
}
.type-post.hentry {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #dadada;
	border-radius: 3px;
	margin-bottom: 50px;
	padding: 10px;
}
.page-template-default .site-main {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #dadada;
	border-radius: 3px;
	margin-bottom: 50px;
	padding: 10px;
}
.entry-content .entry-title a {
	color: #008ed6;
}
.entry-content .entry-title a:hover,
.entry-content .entry-title a:focus {
	color: #005885;
}
footer.entry-meta {
	background: none;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	color: inherit;
	margin-bottom: 0;
	margin-top: 0px;
}
.tagcloud {
	margin: 25px 0;
}
.tagcloud a {
	background-color: #aaa;
	border-radius: 3px;
	color: #ffffff !important;
	display: inline-block;
	font-size: 12px !important;
	line-height: 100%;
	margin-bottom: 0;
	margin-right: 0;
	padding: 6px 7px;
}
.tagcloud a:hover {
  background-color: #005885;
  border-color: #005885;
}
.author-bio {
	clear: both;
	padding-bottom: 15px;
	padding-top: 0px;
	width: 100%;
}

/*********************************************************
	FOOTER
*********************************************************/

footer {
	background-color: #eee;
    border-top: 4px solid #ddd;
    color: #777;
	font-size: 14px;
}
footer .footerWrap {
	padding-top: 20px;
	padding-bottom: 15px;
}
footer h4 {
	border-bottom: 1px dotted #bbb;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
	font-weight: 400;
    margin: 0 0 10px;
    padding-bottom: 10px;
}
footer ul {
	margin: 0;
}
footer ul li {
	margin-bottom: 5px;
}
footer a {
	color: #888;
}
footer a:hover,
footer a:focus {
    color: #222;
}
footer .subFooter {
	color: #777777;
	font-size: 12px;
	padding: 12px 0;
	background-color: #e5e5e5;
	border-top: 1px solid #ddd;
}
footer .subFooter a {
	color: #777;
}
footer .subFooter a:hover,
footer .subFooter a:focus {
    color: #222;
}
footer .subFooter ul{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
footer .subFooter ul > li {
    float: left;
}
footer .subFooter ul > li {
    display: block;
    position: relative;
	margin: 0;
}
footer .subFooter ul > li a {
	margin-left: 15px;
}


@media (max-width: 767px) {
	footer {
		text-align: center;
	}
	footer .footerWrap ul {
		margin-bottom: 30px;
	}
	footer .subFooter .left, footer .subFooter .right {
		float: none;
	}
	footer .subFooter .right {
		margin-top: 10px;
	}
	footer .subFooter .right a {
		display: block;
		margin-bottom: 4px;
	}
}



/*********************************************************
	POPULAR POSTS WIDGET
*********************************************************/
.widget .wpp-thumbnail {
	border-radius: 4px;
	opacity: 1;
	transition: opacity 0.5s ease 0s;
	margin: 0 20px 0 0;
}
.widget ul.wpp-list li {
	border-bottom: none;
	list-style: none outside none;
	margin-bottom: 15px;
	padding: 0;
	height: 60px;
}

/*********************************************************
	CARBON ADS
*********************************************************/
.carbon-wrap {
	line-height: 16px;
}
.carbon-img{
	display: inline;
	float: left;
}
.carbon-text {
	display: block;
	float: none;
	font-size: 13px;
	margin-left: 145px;
	
}
.carbon-poweredby {
	color: #777777 !important;
	display: block;
	font-size: 13px;
	margin: 3px 0 0 145px;
}
