body {
    padding-top: 70px;
	background-color: #ededef;
}

footer {
    margin: 50px 0;
}

.post {
    background-color: #FFF;
    padding: 2em;
    padding-top: 1em;
    margin: 20px;
}

.centered {
    text-align: center;
}

.post-summary h3, h4, h5 {
    font-size: 1em;
}