body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.centered {
    text-align: center;
}

.post-summary h3, h4, h5 {
    font-size: 1em;
}