.icon-firefox:before { content: '\e802'; } /* '' */
.icon-chrome:before { content: '\e803'; } /* '' */
.icon-google:before { content: '\e800'; } /* '' */
.icon-git:before { content: '\e801'; } /* '' */


.fa:before{
    display: inline-block;
    width: 1em;
    height: 1em;
    text-align: center;
}

i.arrow-left{
    display: inline-block;
    position: absolute;
    top: 12px;
    left: -8px;
    width: 15px;
    height: 15px;
    overflow: hidden;/*
    border: 1px solid #e0e0e0;
    border-width: 1px 0 0 1px;*/
    background: #fff;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.progress{
    height: 18px;
    overflow: hidden;
    /*padding: 1px;*/
    border-radius: 4px;
    background: #666;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
.progress .bar{
    height: 100%;
    padding: 0 10px;
    border-radius: 3px;
    background: #82C246;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.2);
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}

.main{
    position:relative; zoom:1;
    background:rgba(238,238,238,.4);
}

aside a{
    color: rgba(255,255,255,.8);
}
aside h1{
    margin: 1em 0;
    font-weight: normal;
}
aside h1 img{
    margin-right: 1em;
    padding: 1px;
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    background: rgba(255,255,255,.6);
}
aside{background-color: #888; font-size:75%; color: rgba(255,255,255,.8);}
aside .block{position: relative; margin:1em 0; line-height:1.5em;}
aside .block h3{margin:1em 0; font-size: 1.2em; font-weight: normal; color: rgba(255,255,255,.6);}
aside .block a{margin:0;}


#skills{
    width: 200px;
}
#skills li{
    list-style: none;
    width: 200px;
    margin: 1em 0;
}

#tools ul:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#tools li{
    position: relative;
    float: left;
    list-style: none;
    width: 55px;
    height: 55px;
    line-height: 55px;
    overflow-y: hidden;
    margin: 0 5px 5px 0;
    background: #555;
    text-align: center;
    font-size: 1.5rem;
}
#tools li i{
    display: inline-block;
    width: 100%;
    height: 100%;

    -webkit-transition: opacity ease .3s, font-size ease .3s, color ease .3s;
    -moz-transition: opacity ease .3s, font-size ease .3s, color ease .3s;
    -ms-transition: opacity ease .3s, font-size ease .3s, color ease .3s;
    transition: opacity ease .3s, font-size ease .3s, color ease .3s;
}
#tools li span{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 12px;

    -webkit-transition: top ease .3s, opacity ease .3s;
    -moz-transition: top ease .3s, opacity ease .3s;
    -ms-transition: top ease .3s, opacity ease .3s;
    transition: top ease .3s, opacity ease .3s;
}
#tools li:hover i{
    opacity: 0;
    font-size: 10%;
}
#tools li:hover span{
    display: block;
    top: 0;
    opacity: 1;
}

#contact{
    clear: both;
    width: 300px;
    margin: auto;
    margin-top: 3em;
}
#contact p{
    color: #555;
    text-align: left;
}
#contact a{color: #555;}
#contact .mail:after{
    content: "ww.sun@outlook.com";
}

#timeline{
    position: relative;
    margin-right: 0px;
    padding-right: 0px;
}
#timeline:before{
    content: "";
    display: block;
    position: absolute;
    left: -55px;
    height: 100%;
    border-left: 4px solid #bbb;
}
#timeline p.line-end{
    position: relative;
    left: -92px;
    width: 80px;
    border-radius: 10px;
    border: 3px solid #fff;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    color: #666;
    text-align: center;
}
#timeline ul.item-list{
    position: relative;
    list-style: none;
}
#timeline li.item{
    position: relative;
    margin: 30px 0;
    /*border: 1px solid #e0e0e0;*/
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#timeline li.item .meta{
    position: absolute;
    left: -150px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    overflow: visible;
}
#timeline li.item .meta i.fa{
    position: absolute;
    right: 75px;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 20px;
    border: 3px solid #fff;
    background: #fff;
    font-size: 20px;
    color: #666;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#timeline li.item p.date{
    position: absolute;
    left: 80px;
    line-height: 40px;
    /*color: #fff;*/
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#timeline li.item i.arrow-left{
    left: auto;
    right: -8px;
    box-shadow: -1px -1px 0px rgba(0,0,0,.1);
}
#timeline li.item .content{
    position: relative;
    z-index: 1;
}
#timeline li.item header{
    position: relative;
    padding: 0 15px;
    /*border-bottom: 1px solid #e0e0e0;*/
}
#timeline li.item header:after{
    content: "";
    clear: both;
    height: 0;
    overflow: hidden;
}
#timeline li.item header h3{
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    font-weight: normal;
}
#timeline li.item header .links{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    padding: 10px;
    line-height: 20px;
    font-size: 12px;
}
#timeline li.item:hover header .links{
    display: block;
}
#timeline li.item:hover header .link-item{
    display: inline-block;
    margin-left: 10px;	
}
#timeline li.item header .links a{
    position: relative;
    width: 20px;
    height: 20px;
    color: #999;
}
#timeline li.item header .links a:hover{
    color: #06c;
}
#timeline li.item header .links a i.fa{
    position: absolute;
    line-height: 20px;
    font-size: 1.5em;
}
#timeline li.item p.tags{
    padding: 1em;
    line-height: 40px;
}

#timeline li.item figure{
    border: 1px solid #eee;
    border-width: 1px 0;
    padding: 30px 0;
    text-align: center;
}
#timeline li.item article{
    padding: 15px;
    font-size: 85%;
}
#timeline li.item article p{
    text-indent: 2em;
}

.img-with-shadow {
    box-shadow:5px 5px 5px #888;
}