<!DOCTYPE html>
<html>{% include post-head.html %}
  
  <body>{% include post-header.html %}
    <div class="container col-md-8 col-md-offset-2">
      <br>
      <div class="well">
        <header class="page-header">
          <h1>{{ page.title }}</h1>
          <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta}}{% endif %}</p>
        </header>
        <article>{{ content }}</article>
      </div>
      <!-- Duoshuo Comment BEGIN -->
      <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}"></div>
      <script type="text/javascript">
        var duoshuoQuery = {short_name:"wwsun"};  
        	(function() {  
        		var ds = document.createElement('script');  
        		ds.type = 'text/javascript';
            ds.async = true;  
        		ds.src = 'http://static.duoshuo.com/embed.js';  
        		ds.charset = 'UTF-8';  
        		(document.getElementsByTagName('head')[0]
         		|| document.getElementsByTagName('body')[0]).appendChild(ds);  
        	})();
      </script>
      <!-- Duoshuo Comment END -->
    </div>{% include footer.html %}</body>

</html>